@import url('https://fonts.googleapis.com/css?family=Iceberg');

.botao{
    margin-top: 15px;
    width: 100%;
}

ion-input{
    text-align: center;
    margin-top: 190px;
    width: 100%;
    background: transparent;
    border: 2px solid;
    border-color: rgb(28, 175, 163);
}

ion-title{
    border-top: 40px;
}

.titulo{
    font-family: 'Iceberg', cursive;
    font-weight: 1000;
    font-style: italic;
    margin-top: 120px;
    width: 100%;
    position: absolute;
    font-size: medium;
    text-align: center;
}

.app{
    font-family: 'Iceberg', cursive;
    font-weight: 1000;
    font-style: italic;
    margin-top: 80px;
    width: 100%;
    position: absolute;
    font-size: xx-large;
    text-align: center;
}

.texto{
    margin-top: 5px;
    color: rgb(28, 175, 163);
    font-size: small;
}