<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="imagem">
    <ion-grid>
      <ion-row>
        <ion-title class="app" color="primary">Minha Garagem</ion-title>
        <ion-title class="titulo" color="primary">Recuperar Senha</ion-title>
      </ion-row>
      <ion-row>
        <ion-input [(ngModel)]="email" type="text" placeholder="nome@mail.com"></ion-input>
      </ion-row>
      <ion-row>
        <ion-button class="botao" color="primary" (click)="trocarSenha()">Enviar E-mail</ion-button>
      </ion-row>
      <ion-row>
        <ion-label class="texto">
          Nós lhe enviaremos um e-mail contendo um link para redefinir sua senha.
        </ion-label>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>