<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Garagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <ion-card color="medium" *ngFor="let veiculo of veiculos | async">
    <ion-item>
      <ion-icon (click)="delete(veiculo.key)" name="trash" slot="end" color="danger"></ion-icon>
      <ion-label (click)="view()" text-center>{{ veiculo.nome }}</ion-label>
    </ion-item>
    <ion-row>
      <ion-col size="6">
        <ion-card-content>
          <ion-label>Marca: </ion-label>
          {{ veiculo.marca }}
        </ion-card-content>
      </ion-col>
      <ion-col size="6">
        <ion-card-content>
          <ion-label>Modelo: </ion-label>
          {{ veiculo.modelo }}
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="add" color="danger" (click)="create()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>