<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Garagem</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="add()">
        <ion-icon slot="end" name="add" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="tela">
    <ion-row>
      <ion-searchbar class="pesquisa" (input)="search($event)" placeholder="Buscar"
        mode="ios" color="light">
      </ion-searchbar>
    </ion-row>

    <ion-slides class="slide" [options]="sliderConfig">
      <ion-slide (click)="view(veiculo)" *ngFor="let veiculo of veiculos">
        <ion-card>
          <ion-item color="medium" mode="ios">
            <ion-label text-center>{{veiculo.marca}}</ion-label>
          </ion-item>
          <ion-row>
            <ion-item color="light">
              <ion-label text-center>Marca: {{veiculo.modelo}}</ion-label>
            </ion-item>
            <ion-item color="light">
              <ion-label text-center>Placa: {{veiculo.placa}}</ion-label>
            </ion-item>
          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>