.pesquisa{
    width: 100%;
}

ion-card{
    margin-top: 10px;
    width: 90%;
}

ion-row{
    width: 100%;
    ion-button{
        width: 80%;
        --color: #0E1E43;
    }
}

.imagemCAR{
    top: 5px;
    position:relative;
    text-align:center;
}
.botaoImagem{
    position: absolute;
    z-index: 1;
    top: 146px;
    left: 10%;
    width: 80%;
    height: 25px;
    padding: 0;
    border: 0 none;
    font-size: smaller;
}