<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Garagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <ion-card (click)="view()" color="medium" *ngFor="let veiculo of Veiculos | async">
    <ion-item>
      <ion-icon (click)="delete(veiculo.key)" name="trash" slot="end" color="danger"></ion-icon>
      <ion-label text-center>{{ veiculo.nome }}</ion-label>
    </ion-item>
    <ion-card-content>
      {{ veiculo.marca }}
    </ion-card-content>
    <ion-card-content>
      {{ veiculo.modelo }}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="add" color="medium" (click)="add()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>