.pesquisa{
    width: 100%;
}
.icone{
    margin-top: 12px;
    margin-right: 0px;
}

ion-card{
    margin-top: 80px;
    width: 90%;
}

ion-row{
    width: 100%;
    ion-button{
        width: 80%;
        --color: #0E1E43;
    }
}