<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Abastecimento</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="add()">
        <ion-icon slot="end" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <ion-card color="medium" *ngFor="let abastecimento of abastecimentos">
    <ion-item>
      <ion-icon (click)="remove(abastecimento.uid)" name="trash" slot="end" color="danger"></ion-icon>
      <ion-label (click)="edit(abastecimento)" text-center> {{ abastecimento.data }} </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-label>Valor: R$</ion-label>
          {{ abastecimento.valor }}
        </ion-col>
        <ion-col size="6">
          <ion-label>Local: </ion-label>
          {{ abastecimento.local }}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>