ion-input{
    background: transparent;
    margin-bottom: 10px;
    border-bottom: 0.5px solid;
    border-color: #0357A7;
}

ion-datetime{
    border-bottom: 0.5px solid;
    border-color: #0357A7;
}

ion-select{
    border-bottom: 0.5px solid;
    border-color: #0357A7;
}

p{
    font-size: small;
    width: 100%;
    display: block;
    justify-content: center;
    margin-bottom: 15px;
    text-align: center;
}

ion-button{
    width: 100%;
    --border-radius: 10px;
}

.icone{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
}