<ion-header>
  <ion-toolbar>
    <ion-title> Novo Veiculo </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <p text-center> Digite as informações do veiculo. </p>
  <ion-grid fixed>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label position="floating">Nome</ion-label>
        <ion-input [(ngModel)]="newVeiculo.nome" type="text" mode="ios"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item color="dark" mode="ios">
          <ion-label position="floating">Marca</ion-label>
          <ion-select [(ngModel)]="newVeiculo.marca" multiple="false" mode="ios">
            <ion-select-option value="Ford">Ford</ion-select-option>
            <ion-select-option value="Nissan">Nissan</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item color="dark" mode="ios">
          <ion-label position="floating">Placa</ion-label>
          <ion-input [(ngModel)]="newVeiculo.placa" type="text" mode="ios"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label position="floating">Modelo</ion-label>
        <ion-input [(ngModel)]="newVeiculo.modelo" type="text" mode="ios"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item color="dark" mode="ios">
          <ion-label position="floating">Ano do Modelo</ion-label>
          <ion-input [(ngModel)]="newVeiculo.anoModelo" type="text" mode="ios"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item color="dark" mode="ios">
          <ion-label position="floating">Ano de Fabricação</ion-label>
          <ion-input [(ngModel)]="newVeiculo.anoFabricacao" type="text" mode="ios"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item color="dark" mode="ios">
          <ion-label position="floating">Metragem</ion-label>
          <ion-select [(ngModel)]="newVeiculo.metragem" multiple="true" mode="ios">
            <ion-select-option value="km">Quilômetros</ion-select-option>
            <ion-select-option value="mi">Milhas</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item color="dark" mode="ios">
          <ion-label position="floating">Cor</ion-label>
          <ion-input [(ngModel)]="newVeiculo.cor" type="text" mode="ios"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item color="dark" mode="ios">
          <ion-label position="floating">Vol. do Tanque(L)</ion-label>
          <ion-input [(ngModel)]="newVeiculo.tanque" type="text" mode="ios"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item color="dark" mode="ios">
          <ion-label position="floating">Combustível</ion-label>
          <ion-select [(ngModel)]="newVeiculo.combustivel" multiple="true" mode="ios">
            <ion-select-option value="gasolina">Gasolina</ion-select-option>
            <ion-select-option value="etanol">Etanol</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label position="floating">Chassi</ion-label>
        <ion-input [(ngModel)]="newVeiculo.chassi" type="text" mode="ios"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label position="floating">Renavam</ion-label>
        <ion-input [(ngModel)]="newVeiculo.renavam" type="text" mode="ios"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label position="floating">Observação</ion-label>
        <ion-input [(ngModel)]="newVeiculo.observacao" type="text" mode="ios"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-button (click)="save()" mode="ios" color="success"> Salvar </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>