<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Editar </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="save()">
        <ion-icon slot="end" name="checkmark" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-label position="stacked"> Marca </ion-label>
        <ion-select [(ngModel)]="newVeiculo.marca" multiple="false">
          <ion-select-option value="Ford">Ford</ion-select-option>
          <ion-select-option value="Nissan">Nissan</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label position="stacked"> Placa </ion-label>
        <ion-input [(ngModel)]="newVeiculo.placa" type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-label position="stacked"> Modelo </ion-label>
        <ion-input [(ngModel)]="newVeiculo.modelo" type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label position="stacked"> Ano do Modelo </ion-label>
        <ion-input [(ngModel)]="newVeiculo.anoModelo" type="text"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-label position="stacked"> Ano de Fabricação </ion-label>
        <ion-input [(ngModel)]="newVeiculo.anoFabricacao" type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label position="stacked"> Metragem </ion-label>
        <ion-select [(ngModel)]="newVeiculo.metragem" multiple="false">
          <ion-select-option value="Quilômetros">Km</ion-select-option>
          <ion-select-option value="Milhas">Mi</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label position="stacked"> Cor </ion-label>
        <ion-input [(ngModel)]="newVeiculo.cor" type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label position="stacked"> Capacidade do Tanque(L) </ion-label>
        <ion-input [(ngModel)]="newVeiculo.tanque" type="text"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-label position="stacked"> Combustível </ion-label>
        <ion-select [(ngModel)]="newVeiculo.combustivel" multiple="true">
          <ion-select-option value="Gasolina">Gasolina</ion-select-option>
          <ion-select-option value="Etanol">Etanol</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-label position="stacked"> Chassi </ion-label>
        <ion-input [(ngModel)]="newVeiculo.chassi" type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-label position="stacked"> Renavam </ion-label>
        <ion-input [(ngModel)]="newVeiculo.renavam" type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-label position="stacked"> Observação </ion-label>
        <ion-input [(ngModel)]="newVeiculo.observacao" type="text"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>