<ion-tabs>

  <ion-tab-bar class="tab" slot="bottom" color="medium">

    <ion-tab-button tab="home">
      <ion-icon name="home" mode="ios"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manutencao">
      <ion-icon name="construct" mode="ios"></ion-icon>
      <ion-label>Manutenção</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="despesa">
      <ion-icon name="card" mode="ios"></ion-icon>
      <ion-label>Despesa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="abastecimento">
      <ion-icon name="water" mode="ios"></ion-icon>
      <ion-label>Abastecimento</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>