<ion-tabs>

  <ion-tab-bar class="tab" slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manutencao">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Manutenção</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="despesa">
      <ion-icon name="card"></ion-icon>
      <ion-label>Despesa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="abastecimento">
      <ion-icon name="water"></ion-icon>
      <ion-label>Abastecimento</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>