ion-item{
    width: 100%;
}

.texto{
    margin-left: 60px;
    margin-bottom: 10px;
}

.icone{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.nome{
    font-size: medium;
}

.coluna{
    margin-top: 8px;
}