<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Detalhes </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="remove(viewDespesa.uid)">
        <ion-icon slot="end" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid fixed>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-icon class="icone" slot="start" name="car" color="light" mode="ios"></ion-icon>
        <ion-label color="secondary"> Veiculo </ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="texto">{{viewDespesa.modeloVeiculo}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-icon class="icone" slot="start" name="calendar" color="light" mode="ios"></ion-icon>
        <ion-label color="secondary"> Data da Despesa </ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="texto">{{viewDespesa.dataDespesa | date: 'dd/MM/yy'}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-icon class="icone" slot="start" name="cart" color="light" mode="ios"></ion-icon>
        <ion-label color="secondary">Tipo de Despesa</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="texto">{{viewDespesa.tipo}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-icon class="icone" slot="start" name="card" color="light" mode="ios"></ion-icon>
        <ion-label color="secondary">Tipo de pagamento</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="texto">{{viewDespesa.tipoPagamento}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-icon class="icone" slot="start" name="cash" color="light" mode="ios"></ion-icon>
        <ion-label color="secondary">Valor(R$)</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="texto">{{viewDespesa.valor}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-icon class="icone" slot="start" name="pin" color="light" mode="ios"></ion-icon>
        <ion-label color="secondary">Local</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="texto">{{viewDespesa.local}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-icon class="icone" slot="start" name="clipboard" color="light" mode="ios"></ion-icon>
        <ion-label color="secondary">Observação</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="texto">{{viewDespesa.observacao}}</ion-label>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="edit(viewDespesa)">
      <ion-icon color="warning" name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>