<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <div text-center>
          <ion-row>
            <ion-col size="12">
              <img class="usuario"src="../assets/imagens/user.jpg">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label *ngIf="usuario" color="secondary">{{usuario.nome}}</ion-label>
              <ion-label *ngIf="!usuario" color="secondary"> Usuario não encontrado</ion-label>
            </ion-col>
          </ion-row>
        </div>
        </ion-toolbar>
      </ion-header>
      <ion-content color="medium" mode="ios">
        <ion-item color="medium">
          <ion-label position="floating" color="secondary"> Veiculo </ion-label>
          <ion-select>
            <ion-select-option *ngFor="let veiculo of veiculoList" [value]="veiculo.uid"> {{veiculo.modelo}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-list mode="ios">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" color="medium">
              <ion-icon slot="start" [name]="p.icon" color="light" mode="ios"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-item lines="none" (click)="logout()" color="medium">
        <ion-icon slot="start" name="log-out" color="light" mode="ios"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>