<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Detalhes </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="remove(viewVeiculo.uid)">
        <ion-icon slot="end" color="danger" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <ion-grid fixed>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label color="secondary">Marca</ion-label>
        <ion-label>{{viewVeiculo.marca}}</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label color="secondary">Modelo</ion-label>
        <ion-label mode="ios">{{viewVeiculo.modelo}}</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label color="secondary">Ano do Modelo</ion-label>
        <ion-label mode="ios">{{viewVeiculo.anoModelo}}</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label color="secondary">Ano de fabricação</ion-label>
        <ion-label mode="ios">{{viewVeiculo.anoFabricacao}}</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label color="secondary">Placa</ion-label>
        <ion-label mode="ios">{{viewVeiculo.placa}}</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label color="secondary">Metragem</ion-label>
        <ion-label mode="ios">{{viewVeiculo.metragem}}</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label color="secondary">Cor</ion-label>
        <ion-label>{{viewVeiculo.cor}}</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label color="secondary">Vol. do Tanque(L)</ion-label>
        <ion-label mode="ios">{{viewVeiculo.tanque}}</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-label color="secondary">Combustível</ion-label>
        <ion-label mode="ios">{{viewVeiculo.combustivel}}</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="obs" color="dark" mode="ios">
        <ion-label color="secondary">Observação:</ion-label>
      </ion-item>
      <ion-item color="dark" mode="ios">
        <ion-label mode="ios">{{viewVeiculo.observacao}}</ion-label>
      </ion-item>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="edit(viewVeiculo)">
      <ion-icon color="warning" name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>