ion-label{
    border-color: #0357A7;
}

ion-item{
    width: 100%;
    --background: transparent;
}

ion-textarea{
    width: 100%;
}

p{
    color: white;
    font-size: small;
    width: 100%;
    display: block;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 05px;
    margin-bottom: 15px;
}

ion-button{
    --border-radius: 100px;
}