<ion-header>
  <ion-toolbar>
    <ion-title>Novo Usuário</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="backToLogin()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <p> Digite seus Dados </p>
  <ion-grid>
    <ion-row>
      <ion-item color="dark">
        <ion-icon slot="start" name="contact" color="light"></ion-icon>
        <ion-label position="floating">Nome</ion-label>
        <ion-input [(ngModel)]="novoUsuario.nome" type="text"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark">
        <ion-icon slot="start" name="mail" color="light"></ion-icon>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input [(ngModel)]="novoUsuario.email" type="text"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark">
        <ion-icon slot="start" name="lock" color="light"></ion-icon>
        <ion-label position="floating">Senha</ion-label>
        <ion-input [(ngModel)]="novoUsuario.senha" type="password"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-button class="salvar" (click)="save()"> Salvar </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>