<ion-header>
  <ion-toolbar>
    <ion-title>Novo Usuário</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="backToLogin()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <p> Digite seus Dados </p>
  <ion-grid>
    <ion-row>
      <ion-input [(ngModel)]="novoUsuario.nome" type="text" placeholder="Nome"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input [(ngModel)]="novoUsuario.sobrenome" type="text" placeholder="Sobrenome"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input [(ngModel)]="novoUsuario.email" type="text" placeholder="E-mail"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input [(ngModel)]="novoUsuario.usuario" type="text" placeholder="Usuário"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input [(ngModel)]="novoUsuario.senha" type="password" placeholder="Senha"></ion-input>
    </ion-row>
    <ion-row>
      <ion-button class="botao1" (click)="save()"> Salvar </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>