<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Detalhes </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="remove(viewAbastecimento.uid)">
        <ion-icon slot="end" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="2">
        <ion-icon class="icone" name="calendar" color="primary"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-row>
          <ion-label position="stacked"> Data </ion-label>
        </ion-row>
        <ion-row>
          <ion-label *ngIf="!viewAbastecimento.dataAbastecimento" class="labelInfo">Sem Informação</ion-label>
          <ion-label class="labelInfo">{{viewAbastecimento.dataAbastecimento | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-icon class="icone" name="pin" color="primary"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-row>
          <ion-label position="stacked">Local</ion-label>
        </ion-row>
        <ion-row>
          <ion-label *ngIf="!viewAbastecimento.local" class="labelInfo">Sem Informação</ion-label>
          <ion-label class="labelInfo">{{viewAbastecimento.local}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-icon class="icone" name="card" color="primary"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-row>
          <ion-label position="stacked">Pagamento</ion-label>
        </ion-row>
        <ion-row>
          <ion-label *ngIf="!viewAbastecimento.tipoPagamento" class="labelInfo">Sem Informação</ion-label>
          <ion-label class="labelInfo">{{viewAbastecimento.tipoPagamento}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-icon class="icone" name="cash" color="primary"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-row>
          <ion-label position="stacked">Valor</ion-label>
        </ion-row>
        <ion-row>
          <ion-label *ngIf="!viewAbastecimento.valor" class="labelInfo">Sem Informação</ion-label>
          <ion-label class="labelInfo">R$ {{viewAbastecimento.valor}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-icon class="icone" name="clipboard" color="primary"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-row>
          <ion-label position="stacked">Observação</ion-label>
        </ion-row>
        <ion-row>
          <ion-label *ngIf="!viewAbastecimento.observacao" class="labelInfo">Sem Observações</ion-label>
          <ion-label class="labelInfo">{{viewAbastecimento.observacao}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="edit(viewAbastecimento)">
      <ion-icon color="warning" name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>