ion-label{
    margin-top: 10px;
    width: 100%;
}

.icone{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
}

.labelInfo{
    margin-top: 5px;
    border-bottom: 0.5px solid;
    border-color: #0357A7;
}