<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Detalhes </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="remove(viewAbastecimento.uid)">
        <ion-icon slot="end" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <ion-grid fixed>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-icon class="icone" slot="start" name="calendar" mode="ios"></ion-icon>
        <ion-label color="secondary"> Data do Abastecimento </ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="texto">{{viewAbastecimento.dataAbastecimento | date: 'dd/MM/yy'}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-icon slot="start" name="card" color="light" mode="ios"></ion-icon>
        <ion-label color="secondary">Tipo de pagamento</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="texto">{{viewAbastecimento.tipoPagamento}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-icon slot="start" name="cash" color="light" mode="ios"></ion-icon>
        <ion-label color="secondary">Valor(R$)</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="texto">{{viewAbastecimento.valor}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-icon slot="start" name="pin" color="light" mode="ios"></ion-icon>
        <ion-label color="secondary">Local</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="texto">{{viewAbastecimento.local}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-item color="dark" mode="ios">
        <ion-icon slot="start" name="clipboard" color="light" mode="ios"></ion-icon>
        <ion-label color="secondary">Observação</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="texto">{{viewAbastecimento.observacao}}</ion-label>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="edit(viewAbastecimento)">
      <ion-icon color="warning" name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>