<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()" color="danger">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="onClick()">
        <ion-icon slot="end" name="create" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <ion-grid fixed>
    <ion-row>
      <ion-item color="dark">
        <ion-label position="floating">Tipo de pagamento</ion-label>
        <ion-select [(ngModel)]="newAbastecimento.tipoPagamento" multiple="true">
          <ion-select-option value="Credito">Credito</ion-select-option>
          <ion-select-option value="Debito">Debito</ion-select-option>
          <ion-select-option value="Dinheiro">Dinheiro</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark">
        <ion-label position="floating">Valor(R$)</ion-label>
        <ion-input [(ngModel)]="newAbastecimento.valor" type="number"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark">
        <ion-label position="floating">Local</ion-label>
        <ion-input [(ngModel)]="newAbastecimento.local" type="text"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item color="dark">
        <ion-label position="floating">Observação</ion-label>
        <ion-input [(ngModel)]="newAbastecimento.observacao" type="text"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-button (click)="save()"> Salvar </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>