<ion-header>
  <ion-toolbar>
    <ion-title> Nova Despesa </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p text-center>Digite as informações da despesa.</p>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="2">
        <ion-icon class="icone" name="pin" color="primary"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-label position="stacked"> Local </ion-label>
        <ion-input [(ngModel)]="newDespesa.local" type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-icon class="icone" name="cart" color="primary"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-label position="stacked"> Despesa </ion-label>
        <ion-select [(ngModel)]="newDespesa.tipo" multiple="false">
          <ion-select-option value="Estacionamento">Estacionamento</ion-select-option>
          <ion-select-option value="Pedagio">Pedagio</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-icon class="icone" name="card" color="primary"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-label position="stacked"> Pagamento </ion-label>
        <ion-select [(ngModel)]="newDespesa.tipoPagamento" multiple="true">
          <ion-select-option value="Credito">Credito</ion-select-option>
          <ion-select-option value="Debito">Debito</ion-select-option>
          <ion-select-option value="Dinheiro">Dinheiro</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-icon class="icone" name="cash" color="primary"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-label position="stacked"> Valor(R$) </ion-label>
        <ion-input [(ngModel)]="newDespesa.valor" type="number"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-icon class="icone" name="clipboard" color="primary"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-label position="stacked"> Observação </ion-label>
        <ion-input [(ngModel)]="newDespesa.observacao" type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-button (click)="save()" color="success"> Salvar </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>