// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.usuario {
    border: 1px solid rgb(16, 67, 116);
    border-radius: 100%;
    padding: 4px;
    width: 25%;
    text-align: center;
}

.linhaImagem{
    width: 100%;
}

.nome{
    font-size: small;
}