ion-card{
  color: white;
}

// .div{
//   height: 100%;
//   width: 100%;
//   background: white;
// }

.card{
  height: 300px;
  
  .imgSlide{
    width: 100%;
    height: 200px;
  }
}


.historico{
  margin-top: 15px;
}