<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Minha Garagem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-img src="/assets/imagens/telaVeiculo.jpg" alt="Logo"></ion-img>
    <ion-card color="light" class="welcome">
      <ion-card-header>
        <ion-card-title color="light" text-center> O controle na palma da mão </ion-card-title>
        <ion-card-subtitle color="light" text-center> Bem Vindo </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p text-justify>Minha Garagem é um app simples e eficiente, ele perminte que você tenha um registro dos gastos com seu
          veiculo.</p>
      </ion-card-content>
    </ion-card>
</ion-content>